<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="posts">
      <div class="container">
        <% if (posts.length) { %> <% posts.forEach(({ id, title, createdAt,
        text, subject, image }) => { %>
        <section class="post">
          <div class="post__header post__header--preview">
            <a href="/posts/<%= id %>">
              <img
                class="post__img"
                src="../assets/images/<%= image %>"
                alt="..."
              />
            </a>
          </div>

          <div class="post__content">
            <h2 class="post__title"><%= title %></h2>
            <p id="description" class="post__description"><%= text %></p>
          </div>

          <div class="post__footer">
            <ul class="post__data">
              <li class="post__data--item">
                <time datetime="2021-02-13"
                  ><%= createdAt.toLocaleDateString() %></time
                >
              </li>
              <li class="post__data--item"><%= subject %></li>
            </ul>

            <a class="post__read" href="/posts/<%= id %>">read more</a>
          </div>
        </section>
        <% }) %> <% } %>
      </div>
    </div>

    <script src="../assets/js/app.js"></script>
  </body>
</html>
